{% extends 'base.html' %} {% load static %} {% block content %}
<div class="flex min-h-[800px] flex-col bg-gray-50">
  <div
    class="flex min-h-full flex-1 flex-col justify-center py-12 sm:px-6 lg:px-8"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2
        class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900"
      >
        Create an account
      </h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
      <div class="bg-white px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">
        <form class="space-y-4 md:space-y-6" method="post">
          {% csrf_token %} {% for field in form %}
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >{{field.label}}</label
            >
            {{field}} {% for error in field.errors %}
            <p class="mt-1 text-red-500">{{error}}</p>
            {% endfor %}
          </div>
          {% endfor %}

          <button
            id="submit_form"
            type="submit"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Create an account
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have an account?
            <a
              href="{% url 'login' %}"
              class="font-semibold text-indigo-600 hover:text-indigo-500"
              >Login here</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'user/js/index.js' %}"></script>
{% endblock %}
