{% extends 'smart_parenting/base.html' %}

{% block content %}
    <header>
      <div class="mx-auto max-w-7xl">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">
          Emergency
        </h1>
      </div>
    </header>
    <form class="space-y-4 md:space-y-6 mt-10" method="post">
          {% csrf_token %} {% for field in form %}
          <div>
            <label
              for="{{field.auto_id}}"
              class="required block mb-2 text-sm font-semibold text-gray-900 dark:text-white"
              >{{field.label}} {%if field.field.required%}<span class="text-red-500">*</span>{%endif%}</label
            >
            {{field}} 
            {% for error in field.errors %}
                <p class="mt-1 text-red-500">{{error}}</p>
            {% endfor %}
          </div>
          {% endfor %}

          <div class="flex gap-4">
              <button
                id="submit_form"
                type="submit"
                class="flex  justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                Book Now
              </button>
              <button
                id="getLiveLocation"
                class="flex  justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                Get live location
              </button>
          </div>
        </form>

    <script>
        const live_location = document.getElementById('id_live_location')
        const liveLocationBtn = document.getElementById("getLiveLocation")
        function getLocation(e) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    live_location.value = JSON.stringify({"latitude": position.coords.latitude, "longitude": position.coords.longitude})
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        liveLocationBtn.onclick = (e)=>{
            e.preventDefault();
            getLocation()
        }

        function callHelpline() {
            window.location.href = "tel:112"; // Replace with actual emergency number
        }
    </script>
{% endblock %}
